TTS_DATA_DIR=data
TTS_MODEL_ID=v5_5_ru
TTS_MODEL_URL=https://models.silero.ai/models/tts/ru/v5_5_ru.pt
TTS_MAX_TEXT_LENGTH=5000
TTS_MAX_CHUNK_LENGTH=900
TTS_QUEUE_SIZE=8
TTS_MAX_FILE_SIZE=2000000
TTS_MAX_FILE_CHARS=500000
TTS_RETENTION_HOURS=24
TTS_TORCH_THREADS=4
TTS_LOAD_MODEL=true
TTS_FFMPEG_BINARY=ffmpeg
